/* src/app/components/LocaleSwitch.module.css */
.localeSwitch {
    position: relative;
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    gap: 8px;
}

.links a {
    letter-spacing: 0.12em;
    text-transform: uppercase;
    transition: color 0.2s ease;
    font-weight: 700;
    font-size: 16px;
}

.links a:hover {
    opacity: 0.5;
}

.active {
    opacity: 0.5;
}

.select {
    display: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    font: inherit;
    font-weight: 700;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    /* padding-right: 1rem; */
    cursor: pointer;
}

/* .localeSwitch::after {
    content: "▾";
    position: absolute;
    right: 0;
    pointer-events: none;
    font-size: 0.7rem;
} */

@media (min-width: 551px) {
    .localeSwitch::after {
        display: none;
    }
}

@media (max-width: 550px) {
    .links {
        display: none;
    }

    .select {
        display: block;
    }
}

@media (max-width: 800px) {

    .links a,
    .select,
    .select option {
        font-size: 14px;
    }
}

@media (max-width: 550px) {

    .select,
    .select option {
        font-size: 12px;
    }
}

@media (max-width: 380px) {

    .select,
    .select option {
        font-size: 9px;
    }
}