.link {
    line-height: 1;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: black;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.link:hover {
    opacity: 0.7;
}

.active {
    opacity: 0.5;
}