.siteShell {
    min-height: 94vh;
}

.siteHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 18px 0 0 0;
}

.siteBrand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.siteTitleLink {
    display: block;
    width: 100%;
}

/* .siteTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    letter-spacing: -0.055em;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 auto;
} */
.siteTitle {
    display: flex;
    width: 100%;
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    white-space: nowrap;


}

.siteTitle h1 {
    font-size: 180px;
    margin: 0 auto
}

.siteNav {
    display: flex;
    gap: 20px;
    padding-top: 8px;
    width: 100%;
}

.siteNav a {
    color: black;
    font-weight: 700;
}

.firstNav {
    display: flex;
    gap: 8px;
}

.localeSwitch {
    margin-left: auto;
}

.siteLink {
    line-height: 1;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: black;
}

.siteDivider {

    border-bottom: 2.5px solid black;
}

.heading {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.footer {
    margin-top: 40px;
    min-height: 40px;
    border-top: 2px solid black;
}

.footerInner {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #555;
}

@media (max-width: 1350px) {


    .siteTitle h1 {
        font-size: 175px;
        letter-spacing: -4.16px;
    }

}

/* 
@media (max-width: 1270px) {
    .siteTitle h1 {
        font-size: 175px;

    }
}

@media (max-width: 1205px) {
    .siteTitle h1 {
        font-size: 165px;
    }
}

@media (max-width: 1180px) {
    .siteTitle h1 {
        font-size: 158px;
    }
}

@media (max-width: 1070px) {
    .siteTitle h1 {
        font-size: 155px;
    }
}

@media (max-width: 1050px) {
    .siteTitle h1 {
        font-size: 143px;
    }
}

@media (max-width: 950px) {
    .siteTitle h1 {
        font-size: 121px;

    }
}

@media (max-width: 900px) {
    .siteTitle h1 {
        font-size: 112px;

    }
}
*/

@media (max-width: 800px) {
    .siteNav a {
        font-size: 14px;
    }

    .heading {
        font-size: 30px;
    }
}

@media (max-width: 550px) {
    /* .siteTitle h1 {
        font-size: 76px;
    } */

    .siteNav a {
        font-size: 12px;
    }
}

@media (max-width: 430px) {
    /* .siteTitle h1 {
        font-size: 56px;
    } */

    .siteNav a {
        font-size: 12px;
    }

    .heading {
        font-size: 20px;
    }
}

@media (max-width: 380px) {
    /* .siteTitle h1 {
        font-size: 53px;
        letter-spacing: -4.16px;
    } */

    .siteNav a {
        font-size: 9px;
    }

    .heading {
        font-size: 20px;
    }
}

/* @media (max-width: 365px) {
    .siteTitle h1 {
        font-size: 50px;
    }
} */